---
layout: default
title: "About Me"
description: "Mett Shi"
---

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        background-image: url('/img/about.jpg');
        /* background-image: linear-gradient(to right top, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15));
        background-color: #33CC99; */
    }
</style>

<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ page.title }}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
<!-- Main Content -->
    <div class="container">
        <div class="row">

        <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

                <div class="zh post-container">

                    <!--copied from markdown -->
                    <blockquote><p>写写代码，摄摄影，生活需要一点仪式感</p></blockquote>
                
                    <p>我是石德山，一名前端工程师。平时喜欢整理个人博客，逛逛技术论坛。</p>
                
                    <blockquote><p>关于本站</p></blockquote>

                    <p>本站原主题,由Hux提供，感谢黄玄大神，我在此基础上，做了一些改动。</p>
                    <p>本站源码可以在<a href="https://github.com/shideshanxx">👉这里</a>获取，如果你喜欢，欢迎 clone，欢迎star</p>
                    <p>如果有什么问题，欢迎提出探讨~</p>
                    
                </div>

                <p class="text-right">
                <a href="/">Matt Shi</a>
                <span class="time">
                /
                <time>2017-12-01</time>
                <style>span.test {color: #0085A5;font-weight: bold;}</style>
                </span>/&nbsp;<span data-hk-page="current" class="test"> - </span>&nbsp;views
                <br>
                <span>
                    <strong><em>Published under<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/">(CC) BY-NC-SA 3.0 CN</a>.
                    </em></strong>
                </span>
                </p>
              <!-- disqus 评论框 start -->
              <!-- <div class="comment">
                  <div id="disqus_thread" class="disqus-thread"></div>
              </div> -->
              <!-- disqus 评论框 end -->
            </div>
        </div>
    </div>
</article>


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
        
    </div>
</div>
<!--   gitalk       -->
{% if site.gitalk %}
<div class="comment">
    {% include comments.html %}
</div>
{% endif %}
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";
    
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
     })();
    </script>
<!-- disqus 公共JS代码 end -->
{% endif %}


<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'brucezhaor';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>

<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("http://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js",function(){
        anchors.options.placement = 'left';
        anchors.add('h2,h3');
		anchors.remove('.subheading');
    })
</script>
